# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for Topi
# @created 2021-02-09
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/topi
# =============================================================================

commonpy  >= 1.0.0
cssselect >= 1.1.0
lxml      >= 4.6.2
sidetrack >= 1.4.0
